.tile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;

    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: var(--border-radius);
    margin-bottom: 25px;

    box-shadow: var(--box-shadow);
}