.base-button {
    outline: none;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    user-select: none;
    touch-action: manipulation;
    border: solid 3px transparent;
    background-color: var(--main-color);
    color: white;
    font-size: 1.25em;
    padding: .5em 3em;
    cursor: pointer;
    transition: all .15s ease-in-out;
    box-shadow: var(--box-shadow);

}

.base-button:hover:not(:disabled) {
    border-color: var(--dark-main-color);
}

.base-button:active {
    background-color: var(--active-main-color);
}

.base-button:disabled {
    background-color: var(--disabled-main-color);
    cursor: initial;
}