.base-button { 
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
    user-select: none;
    touch-action: manipulation;
    border: 0;
    background-color: #505add;
    color: white;
    font-size: 1.25em;
    padding: .5em 3em;
    cursor: pointer;
    transition: .15s all ease-in-out;
}

.base-button:active {
    background-color: #434bbd;
}

.base-button:disabled {
    background-color: #353649;
    color: gray;
    cursor: initial;
}