.tile {
    cursor: pointer;
    outline: none;
    border: 2px solid gray;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .15s all ease-in-out;
}

.tile__front-side,
.tile__back-side {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    backface-visibility: hidden;
}

.tile__back-side {
    transform: rotateY(180deg);
}

.tile-flip {
    transform: rotateY(180deg);
}

.tile:active {
    transform: scale(0.95);
}